html,
body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Login-box {
    display: flex;
    flex-direction: column;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content button:nth-child(1){
  margin-bottom: 15px;
}